@import "tailwindcss";

@theme {
  --color-primary: #49b02d;
  --color-new-primary: #092517;
  --color-text-primary: #1a1a1a;
  --color-cta-color: #14532D;
}

.sidebar {
  scrollbar-color: rgba(0, 128, 0, 0.337) transparent;
  scrollbar-width: thin;
}

html,
body {
  overscroll-behavior: none;
}
