@import "tailwindcss";

@theme {
  --color-primary: #49b02d;
}

.sidebar {
  scrollbar-color: rgba(0, 128, 0, 0.337) transparent;
  scrollbar-width: thin;
}

html,
body {
  overscroll-behavior: none;
}
